# Database Connection
# Use 'localhost' for local development, Docker will automatically override this to 'db' internally
DATABASE_URL="postgresql://transitops:devpassword@localhost:5432/transitops?schema=public"

# Authentication
JWT_SECRET="hackathon_secret"

# Mailtrap Credentials (for Forgot Password emails)
MAILTRAP_USER=""
MAILTRAP_PASS=""

# Frontend Configuration
VITE_API_URL="http://localhost:3000"
